.filters {
  background-color: white;
  height: 70px;
  max-width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 30px;
}

.filters button:hover {
  opacity: 0.9;
}

.filters .locations {
  border-right: 1px solid #dddddd;
}

.filters .locations,
.filters .amenities {
  height: 100%;
  width: 25%;
  position: relative;
  z-index: 1;
}

.filters .locations h3,
.filters .amenities h3 {
  margin-bottom: 0px;
  padding-left: 30px;
  font-weight: 600;
}

.filters .locations h4,
.filters .amenities h4 {
  margin-top: 0px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 14px;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}

.popover {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  display: none;
  max-height: 300px;
  overflow-y: auto;
}

.popover li {
    margin: 6px;
}

.popover h2 {
  margin: 0;
}

.popover ul li {
  list-style: none;
  padding: 0; 
}
.popover ul {
  margin: 0;
  padding: 2rem 2rem;
}

.popover ul ul {
  padding-top: 0;
}


