.filters {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

.filters button {
  font-size: 1.125rem;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 30px;
  transition: 0.3s;
}

.filters button:hover {
  opacity: 0.9;
}

.filters .locations {
  border-right: 1px solid #dddddd;
}

.filters .locations,
.filters .amenities {
  height: 100%;
  width: 25%;
  position: relative;
  z-index: 1;
}

.filters .locations h3,
.filters .amenities h3 {
  margin-bottom: 0px;
  padding-left: 30px;
  font-weight: 600;
}

.filters .locations h4,
.filters .amenities h4 {
  margin-top: 0px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 14px;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
  animation: fade-in 0.4s;
}

.popover {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  display: none;
  transition: all 0.5s ease;
  word-wrap: break-word;
}

.popover li {
  margin: 6px;
}

.popover h2 {
  margin: 0;
}

.popover ul li {
  list-style: none;
  padding: 0;
}
.popover ul {
  margin: 0;
  padding: 2rem 2rem;
}

.popover ul ul {
  padding-top: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1000px) {
  /* styles for browsers less than 1000px; */
  .filters {
    height: 70px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  /* styles for browsers less than 1000px; */
  .popover ul {
    margin: 0;
    padding: 0.5rem 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .filters {
    max-width: 90%;
    flex-direction: column;
    justify-content: center;
  }
  .filters .locations {
    height: 100%;
    width: 100%;
    z-index: 2;
    border-right: none;
    border-bottom: 1px solid #dddddd;
  }
  .filters .amenities {
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .filters button {
    height: 45px;
    width: 90%;
    border-radius: 4px;
    margin: 0.5rem auto;
  }

  .popover ul {
    text-align: center;
  }
}
